<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SIPK</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">Sistem Indeks Prestasi Kumulatif</h2>
        <h1 class="title">SIPK</h1>
        <p class="description">
          SIPK dapat membuat dan mengatur daftar perolehan nilai Kamu dengan mudah.
          <br>
          Dengan menggunakan SIPK, kamu juga dapat memprediksi IPK yang akan Kamu peroleh nantinya, 
          sehingga kamu punya gambaran kedepannya tentang IPK Kamu dan juga memiliki target untuk 
          memperoleh yang terbaik.
        </p>
        <a class="index-button" href="/index">Buat sekarang!</a>
      </div>
      <div class="top-image">
        <img src="/images/top.png">
      </div>
    </div>
  </body>
</html>
